{% extends "base.html" %}

{% block main_content %}

<h2> ADVICES FOR REDUCING ENERGY USE </h2>
<ol>
    <li>Energy-efficient appliances: Choose appliances with high energy efficiency ratings (e.g., A+++ for washing machines, refrigerators, etc.).</li>
    <li>LED lighting: Replace incandescent bulbs with energy-efficient LED bulbs.</li>
    <li>Smart thermostats: Use programmable thermostats to optimize heating and cooling systems.</li>
    <li>Energy-efficient practices: Encourage energy-saving habits, such as turning off lights and appliances when not in use.</li>
    <li>Renewable energy sources: Consider using renewable energy sources such as solar panels</li>
    <li>Home insulation: Ensure proper insulation to reduce heating and cooling needs</li>
    <li>Turn Off Lights: Get into the habit of turning off lights when you leave a room. Consider using motion sensor lights in areas where lights are frequently left on by mistake.</li>
</ol>
<p id="red">POWER DOWN, GREEN UP: CONSERVE TODAY FOR A SUSTAINAABLE TOMORROW!</p>

<p> <a {{url_for("index")}}> Home </a> </p>
{% endblock %}